doctype html
html(lang="tr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/code/style.css")
        script(src="/code/icons.js")
        script(src="/code/js.js")
        title A B S
    body
        header 
            h2 Çağrı Yönetim Sistemi      
        
        block content

        footer(style="width:400px;opacity:0.5").mx-auto
            center
                h6 dizayn & kodlama 
                    a(href="mailto:fatih.saridag@egm.gov.tr").text-danger 
                        .loading 
                            span F
                            span .                      
                            span S
                            span A
                            span R
                            span I
                            span D
                            span A
                            span Ğ
    